# PROJECT DATA CAMP: E-REPUTATION OF NETFLIX

# 1. Tweets Scraper

## Libraries

In [1]:
# Imports
import snscrape.modules.twitter as tweetscrape
import pandas as pd
from datetime import datetime

## Tweets Scraper by snscrape

In [2]:
#Setting search's term
term1 = '#netflix bad movie until:2022-10-12 since:2012-10-12 lang:en'
term2 = '#netflix good movie until:2022-10-12 since:2012-10-12 lang:en'

# Setting maximum tweet's length
Max = 50000

# Creating list to append tweet data to
List_Tweet1 = []
List_Tweet2 = []

In [3]:
# Define functions 
def tweetSraping(query, limit):
    """
    This function searchs in the twitter and returns 
    all tweets that have the desired query.
    """
    #Setting search's term
    term1 = query

    # Setting maximum tweet's length
    Max = limit
   
    # Creating list to append tweet data to
    List_Tweet1 = []

    #Importing the datetime to calculate the time for scraping the 50000 tweets
    start_time = datetime.now()
    
    # Using TwitterSearchScraper to scrape data and append the tweets in english to a list
    for i,tweet in enumerate(tweetscrape.TwitterSearchScraper(term1).get_items()):

        if i>Max:
            # Showing the attributes of one tweet to decide which are useful for later
            #print(vars(tweet))
            # break
            break
        List_Tweet1.append([tweet.date,tweet.id,tweet.content, tweet.lang, tweet.user.username, tweet.user.id, tweet.user.location])
    end_time = datetime.now()
    
    #Printing the time duration for scraping all the scraped tweets 
    print('Duration of scraping {} is: {}'.format(Max,end_time - start_time))
    
    return List_Tweet1

def tweetSave(tweets_list):
    """
    This function will save the created list .
    """
    # Creating a dataframe from the list of tweets generated by the function tweetSraping()
    data = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet_Id', 'Content', 'Language','Username','User_id','User_location'])
    
    return data

In [4]:
# Extract tweets
# first one #netflix bad movie
List_Tweet1 = tweetSraping(term1,Max)
# second one #netflix good movie
List_Tweet2 = tweetSraping(term2,Max)

Duration of scraping 50000 is: 0:00:59.514601
Duration of scraping 50000 is: 0:28:04.744916

In [5]:
# Creat dataframe 
data1 = tweetSave(List_Tweet1)
data2 = tweetSave(List_Tweet2)

In [6]:
# information of data1
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Datetime       1172 non-null   datetime64[ns, UTC]
 1   Tweet_Id       1172 non-null   int64
 2   Content        1172 non-null   object
 3   Language       1172 non-null   object
 4   Username       1172 non-null   object
 5   User_id        1172 non-null   int64
 6   User_location  1172 non-null   object
dtypes: datetime64[ns, UTC](1), int64(2), object(4)
memory usage: 64.2+ KB

In [7]:
# Display first 10 entries 
data1.head(10)

,Datetime,Tweet_Id,Content,Language,Username,User_id,User_location
0,2022-10-09 09:54:10+00:00,1579047559770742784,So 365 Days is a bad movie but damn that girl ...,en,stphkt,2329528364,
1,2022-10-08 11:31:12+00:00,1578709591361490944,"not a bad movie as I thought it would be, but ...",en,TheMuhandiss,978271725480808449,UK
2,2022-10-07 23:55:00+00:00,1578534389268434945,#Netflix movie of the day: El Camino: A Breaki...,en,flixboss,969241693206777859,United States
3,2022-10-02 06:00:16+00:00,1576451984009285632,Blonde wasn’t a bad movie on #Netflix but it c...,en,_jonguerra,52530575,"Los Angeles, CA"
4,2022-10-02 05:57:05+00:00,1576451183165984768,Not such a bad movie. I wished it had a little...,en,Triad718,1483120397956653058,"Bronx, NY"
5,2022-09-21 19:56:53+00:00,1572676259943161857,Don’t watch Bad Day on #Netflix .. more like B...,en,KarenJukes2,1242670502084333568,
6,2022-09-20 23:42:00+00:00,1572370522473627649,#Netflix movie of the day: El Camino: A Breaki...,en,FlixbossCA,970656598598307840,Canada
7,2022-09-17 02:46:54+00:00,1570967504004214784,"Mat Kilau still a bad movie to you? Well, I'm ...",en,jz_short,1193788753573138432,
8,2022-09-16 01:07:24+00:00,1570580073245478913,"#Netflix #Blonde #AnaDeArmas - Is a bad movie,...",en,AnnMariaReeves,3389800395,"FORTMICHIGAN, BTLNTH"
9,2022-09-15 17:00:25+00:00,1570457523639001091,What a bad movie… End of the Road #Netflix,en,KHer90,1664989069,

In [8]:
#Display last 10 entries from dataframe
data1.tail(10)

,Datetime,Tweet_Id,Content,Language,Username,User_id,User_location
1162,2012-12-31 02:42:28+00:00,285576628866801666,In the mood to watch a bad movie. I wonder whi...,en,rodlopezfilms,33429033,"Baltimore, MD"
1163,2012-12-27 00:18:56+00:00,284090955781529601,Got #netflix to apparently watch every bad mov...,en,jmarsden3,63844682,
1164,2012-12-22 07:40:27+00:00,282390129035866112,Shooter is a bad movie #LieLieLie #Netflix,en,Jared_Stephen,434617353,"Lehigh Valley, PA"
1165,2012-12-08 16:16:22+00:00,277446532444323840,#RedTails is a really really really really bad...,en,SucculentHam,56629693,Calgary
1166,2012-11-28 05:42:02+00:00,273663018385162240,Watching Machine Gun Preacher on Netflix. Not ...,en,sobryan35,579516314,"Owensboro, KY"
1167,2012-11-26 16:32:53+00:00,273102035660976129,Robocop is the best bad movie I’ve ever seen. ...,en,baclap,177429890,"Seattle, WA"
1168,2012-11-20 04:02:42+00:00,270738917190410241,“@JHartgroves: Bad Movie night part 2 at 3509 ...,en,bfritch,155318599,"B-CS, TX"
1169,2012-11-11 04:17:06+00:00,267481049049747456,@suitoflights thank god for #Netflix you don't...,en,Rain_bean,208932854,"Vancouver, British Columbia"
1170,2012-10-22 04:57:43+00:00,260243514833661952,Finished watching Act of Valor on #netflix. No...,en,windycityamar,23500923,best city in the world
1171,2012-10-15 10:07:22+00:00,257784725115125760,"The movie Werewolf: The Best Among Us, turns o...",en,NerdyViking42,40340716,"Albany, OR"

In [9]:
# information of data2
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37935 entries, 0 to 37934
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Datetime       37935 non-null  datetime64[ns, UTC]
 1   Tweet_Id       37935 non-null  int64
 2   Content        37935 non-null  object
 3   Language       37935 non-null  object
 4   Username       37935 non-null  object
 5   User_id        37935 non-null  int64
 6   User_location  37935 non-null  object
dtypes: datetime64[ns, UTC](1), int64(2), object(4)
memory usage: 2.0+ MB

In [10]:
# Display first 10 entries 
data2.head(10)

,Datetime,Tweet_Id,Content,Language,Username,User_id,User_location
0,2022-10-11 23:04:57+00:00,1579971344703586304,JEXI was a good movie to me 🤣🤣🤣🤣 #Netflix,en,BernishaRynia,54161046,"Nashville, TN"
1,2022-10-11 22:54:53+00:00,1579968809225850881,I watched “DO REVENGE” on Netflix last night. ...,en,bl3eak,1376594234,"Queens, NY"
2,2022-10-11 18:29:08+00:00,1579901934215258112,#Pharmageddon along with the treacherous #WEF-...,en,DianewasHR,247762193,Chicago
3,2022-10-11 18:16:08+00:00,1579898661810556928,Watched #BhoolBhulaiyaa2 on @netflix today com...,en,MahidharGowni,1084742540283260928,"Rayadurg, India"
4,2022-10-11 17:20:22+00:00,1579884625903554560,"Watching #therainmaker on #netflix , old movie...",en,Fulton89,81790910,under the sea
5,2022-10-11 14:44:54+00:00,1579845503269113857,Don't you miss the good ole video club days? 🥸...,en,Hai420Skai,1344684785378144258,Karrotville
6,2022-10-11 13:24:05+00:00,1579825163876827136,That movie LOU was good fr ! \n#Netflix,en,tommyjac1212,1548455459316592648,
7,2022-10-11 11:12:11+00:00,1579791971283271680,Primal Fear 🔥🔥🔥\n\nCourt-Room Thriller with br...,en,BeHapppiee,118910017,CHENNAI
8,2022-10-11 11:07:42+00:00,1579790842528612352,Film Review : Luckiest Girl Alive\n\nDisturbin...,en,deepbasu1,289156537,Mumbai
9,2022-10-11 01:53:28+00:00,1579651365760303105,What is a good show or movie on NETFLIX?? #net...,en,forstephie,1541491598097371136,

In [11]:
#Display last 10 entries 
data2.tail(10)

,Datetime,Tweet_Id,Content,Language,Username,User_id,User_location
37925,2012-10-13 00:13:04+00:00,256910389575577600,Any good movies left #Netflix ?,en,REALTHINK2DEEP,36585311,PVD. ⚓️
37926,2012-10-12 07:24:43+00:00,256656627921469440,Any good movies i should check out on #Netflix...,en,_4hhall,429439899,
37927,2012-10-12 06:46:08+00:00,256646921228279808,"Super 8, good movie! #Netflix",en,colorblind_hxc,190502056,"Reseda, CA"
37928,2012-10-12 06:41:13+00:00,256645682771927040,I need a good movie on #netflix to watch any r...,en,AfakasiHandsome,307674389,
37929,2012-10-12 06:33:08+00:00,256643648366714880,if anybody has #NETFLIX pppplllease to tell me...,en,taterfordayz,396692930,"Greensburg, KY"
37930,2012-10-12 04:13:20+00:00,256608465814962176,"@HiHeatherrr_24 Omigod :) it's such a ""feel go...",en,jordanmarieroth,454218629,"Washington, DC"
37931,2012-10-12 03:09:32+00:00,256592409343963137,Good action movie. RT @dangadanga: Ms_43938 @D...,en,Ms_43938,278682662,In front of a tv #MovieAddict
37932,2012-10-12 02:23:55+00:00,256580928875401216,"I'd forgotten how good a movie ""In the Line of...",en,paul_wb_wtf,152001446,"Vancouver, Canada"
37933,2012-10-12 02:19:24+00:00,256579795478003712,Machine Gun Preacher #Netflix definitely an in...,en,Falconyx85,193464274,"West Virginia, USA"
37934,2012-10-12 00:51:00+00:00,256557546289111040,DAMN no good movies to watch on #Netflix somet...,en,djastilo,19758436,"NYC, USA"

In [12]:
# Export english dataframe into a CSV
data1.to_csv('dataset/Tweets-Scraping-1.csv', sep=',', index=False)

In [13]:
# Export english dataframe into a CSV
data2.to_csv('dataset/Tweets-Scraping-2.csv', sep=',', index=False)

In [14]:
# Concatenate the two DataFrames (for english and french tweets)
dataset = pd.concat([data1,data2])
display(dataset)

,Datetime,Tweet_Id,Content,Language,Username,User_id,User_location
0,2022-10-09 09:54:10+00:00,1579047559770742784,So 365 Days is a bad movie but damn that girl ...,en,stphkt,2329528364,
1,2022-10-08 11:31:12+00:00,1578709591361490944,"not a bad movie as I thought it would be, but ...",en,TheMuhandiss,978271725480808449,UK
2,2022-10-07 23:55:00+00:00,1578534389268434945,#Netflix movie of the day: El Camino: A Breaki...,en,flixboss,969241693206777859,United States
3,2022-10-02 06:00:16+00:00,1576451984009285632,Blonde wasn’t a bad movie on #Netflix but it c...,en,_jonguerra,52530575,"Los Angeles, CA"
4,2022-10-02 05:57:05+00:00,1576451183165984768,Not such a bad movie. I wished it had a little...,en,Triad718,1483120397956653058,"Bronx, NY"
...,...,...,...,...,...,...,...
37930,2012-10-12 04:13:20+00:00,256608465814962176,"@HiHeatherrr_24 Omigod :) it's such a ""feel go...",en,jordanmarieroth,454218629,"Washington, DC"
37931,2012-10-12 03:09:32+00:00,256592409343963137,Good action movie. RT @dangadanga: Ms_43938 @D...,en,Ms_43938,278682662,In front of a tv #MovieAddict
37932,2012-10-12 02:23:55+00:00,256580928875401216,"I'd forgotten how good a movie ""In the Line of...",en,paul_wb_wtf,152001446,"Vancouver, Canada"
37933,2012-10-12 02:19:24+00:00,256579795478003712,Machine Gun Preacher #Netflix definitely an in...,en,Falconyx85,193464274,"West Virginia, USA"
37934,2012-10-12 00:51:00+00:00,256557546289111040,DAMN no good movies to watch on #Netflix somet...,en,djastilo,19758436,"NYC, USA"

In [15]:
# Export full dataset's dataframe into a CSV
dataset.to_csv('dataset/tweets_dataset2.csv', sep=',', index=False)

## To Scrape 50000 tweet, it took 58 min.